body{
    background-color: rgb(238, 139, 197);
    overflow: hidden;
}
img{
    position: absolute;
    top: 15%;
    left: 40%;
   
}
.question{
    color: white;
    font-size: 25px;
    display: block;
    position: absolute;
    top: 50%;
    left: 42%;
}
.btn1{
    padding: 10px 30px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 42%;
    background-color: green;
    color: white;
    text-decoration: none;
}
.btn2{
    padding: 10px 30px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: red;
    color: white;
}
